@import "../../../../../variables.scss";

.spacer {
    flex: 1 1 auto;
  }

.main-title{
    color: $font-color;
  }

.toolbar-icon{
    color: $primary-color;
    font-size: 25px;
    position: relative;
    top: 0px;
  }


::ng-deep{
    .mat-toolbar.main-header{
        background: $white-color;
        border-bottom: 1px solid $disabled-color;
        box-shadow: 0px 0px 6px #00000029;

        &__title{
            color: $font-color;
        }
    }

    .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
        font-family: cursive;
    }

    .mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line.active{
        background: $primary-color;
        .menu-item{
            color: $white-color;
            position: relative;
            top: -3px;
        }
        .nav-bar-icon{
            color: $white-color;
            top: 2px;
        }

    }


    
.side-nav{
    &__img{
        text-align: center;

        img{
            width: 80%;
            height: 80%;
        }
    }

    .nav-bar-icon{
        color: $primary-color;
        font-size: 24px;
        position: relative;
        top: 6px;
    }

    .mdc-list-item.mdc-list-item--with-one-line{
        height: 48px !important;
    }
}

.mdc-list-item__primary-text{
    font-family: cursive !important;
}
}


.seperator{
    border-bottom: 1px solid $disabled-color;
    margin: 10px 20px;
}




.main-section{
    border: 1px solid $disabled-color;
    margin: 27px;
    height: 80vh;
    border-radius: 8px;
    box-shadow: 0px 0px 6px #00000029;
    background: $white-color;
    overflow-y: auto;

    .mat-drawer-container{
        background: linear-gradient(-57.5deg, rgba(255, 215, 185, 0.91) 44%, rgb(230 145 145 / 80%) 64%);
        box-shadow: 0px 4px 8px #00000012;
      }
}

.mat-drawer-content.mat-sidenav-content.sidenav-content{
    background: $body-background;
    color: $font-color;
}


mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
      mat-nav-list {
        .menu-item {
          margin-left: 8px;
          color: $font-color;
        }
      }
    }
  }


  .mat-drawer-inner-container::-webkit-scrollbar {
    display: none !important;
}
.app-sidenav {
    width: 240px;
    background: $white-color;
}
.example-spacer {
  flex: 1 1 auto;
}

