$white-color: #fff;
$grey-text-color: #666666;
$border-color-100: #E1E4ED;
$black-color: #000000;
$disabled-color: #eeeeee;
$link-color: #006989;
$font-color: #13122c;
$danger-color: #FF5F6D;
$primary-color: #E69191;
$primary-color-hover: #c17171;
$primary-color-focus: #e59292;
$disabled-background: #4e4c4c;
$green-text: #198754;
$red-text: rgb(177, 55, 55);
$delete-icon: #ff4b4b;
$body-background: #f6f6f6;